body {
  color: gray; 
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

 h1 {
  background-color: #003366;
  color: whitesmoke;
  padding: 1em;
}

#result_display { 
  background-color:slategray;
  color: snow;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
}

.btn {
  border: none;
  background-color: forestgreen;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: azure;
}

a {
    color:gray;
}
a:link {
    
  text-decoration: none;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px 0px;
  width: 250px;
  font-family: "Open Sans";
}

button {
  border: none;
  padding: 10px;
  background-color: rgb(0, 140, 193);
  border-radius: 5px;
  color: white;
  margin: 0px 5px;
}

#address_list {
  padding: 20px 0px;
  
}